@import "base/typography";
@import "base/reset";
@import "base/slick";
@import "base/old";

.location {
  max-height: 85vh;

  .slide {
    position: relative;
  }

  .caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 25px;
  }

  .slick-arrow {
    display: none;
  }
}
